@{
    ViewBag.Title = "Home Page";
}

<h1><b>Boas-vindas ao <i>Era Games</i>!</b></h1>
<br /><hr/>
<h4>O Era Games surgiu adotando um conceito novo no comércio eletrônico e oferece aos seus clientes os melhores produtos do mercado. Realize aqui o cadastro de novos funcionários, clientes e jogos.</h4>